---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import Datetime from "@components/Datetime";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
    updatedDatetime?: Date;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content p-0">
    <section id="about" class="prose mb-28 max-w-3xl px-0 prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      {
        frontmatter.updatedDatetime && (
          <Datetime
            datetime={frontmatter.updatedDatetime}
            leadingText="Updated:"
            className="m-0"
          />
        )
      }
      <span id="twikoo_visitors" class="hidden">0</span>
      <slot />
    </section>
    <hr class="border-skin-line" aria-hidden="true" />
    <p class="post-title mb-4 mt-12">Comments</p>
    <div id="tcomment"></div>
  </main>
  <Footer />
</Layout>

<script>
  import twikoo from "twikoo";
  twikoo({
    envId: "https://hll-twikoo.up.railway.app",
    el: "#tcomment",
    lang: "en-GB",
  }).then(() => {
    console.log("comment loading success");
  });
</script>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
</style>
